In [1]:
import pandas as pd
import numpy as np

In [2]:
# read csv file
df = pd.read_csv('../dataset/validate_data.csv')
df = df['User_id'].unique()
df = pd.DataFrame(df)
df.columns = ['User_id']
df.to_csv('../dataset/validate_user_id.csv', index=False)

In [13]:
# read csv file
df = pd.read_csv('../dataset/validate_user_with_bert_re.csv')
print(df.columns)
print(df.shape)

Index(['Id', 'Title', 'Price', 'User_id', 'profileName', 'review/helpfulness',
       'review/score', 'review/time', 'review/summary', 'review/text',
       'description', 'authors', 'publisher', 'publishedDate', 'categories',
       'ratingsCount', 'bert_score'],
      dtype='object')
(180240, 17)

In [14]:
# drop columns
df = df.drop(['review/summary', 'review/text', 'description'], axis=1)

In [15]:
df.head(3)

,Id,Title,Price,User_id,profileName,review/helpfulness,review/score,review/time,authors,publisher,publishedDate,categories,ratingsCount,bert_score
0,0826414346,Dr. Seuss: American Icon,NaN,A30TK6U7DNS82R,Kevin Killian,10/10,5.0,1095724800,['Philip Nel'],A&C Black,2005-01-01,['Biography & Autobiography'],NaN,5
1,0826414346,Dr. Seuss: American Icon,NaN,A14OJS0VWMOSWO,Midwest Book Review,3/4,5.0,1100131200,['Philip Nel'],A&C Black,2005-01-01,['Biography & Autobiography'],NaN,5
2,0963923080,Rising Sons and Daughters: Life Among Japan's ...,NaN,A3NIQK6ZLYEP1L,Michael Valdivielso,0/0,4.0,1239667200,['Steven Wardell'],Plympton PressIntl,1995,['Social Science'],NaN,4

In [16]:
df.describe()

              Price   review/score   review/time   ratingsCount     bert_score
count  21932.000000  180240.000000  1.802400e+05  129910.000000  180240.000000
mean      22.912294       4.273935  1.136406e+09     242.684266       4.444729
std       23.283642       0.953390  1.140325e+08     727.157822       1.034890
min        1.000000       1.000000  8.402400e+08       1.000000       1.000000
25%       10.490000       4.000000  1.045094e+09       3.000000       4.000000
50%       15.950000       5.000000  1.127779e+09      11.000000       5.000000
75%       26.950000       5.000000  1.224202e+09      46.000000       5.000000
max      730.000000       5.000000  1.362269e+09    4895.000000       5.000000

In [17]:
# sum the null values
df.isnull().sum()

Id                         0
Title                      0
Price                 158308
User_id                    0
profileName                0
review/helpfulness         0
review/score               0
review/time                0
authors                  601
publisher               5196
publishedDate            130
categories                 0
ratingsCount           50330
bert_score                 0
dtype: int64

In [10]:
# write the file to csv
df.to_csv('../dataset/validate_data_with_bert.csv', index=False)