In [1]:
import pandas as pd
import numpy as np

In [2]:
# read the data
df = pd.read_csv('../dataset/validate_data_with_bert.csv')

In [3]:
df['Title'] = df['Title'].str.lower()

In [4]:
df['publishedDate'] = df['publishedDate'].str.split('-').str[0]
# fill the missing value with the most frequent year
df['publishedDate'] = df['publishedDate'].fillna(df['publishedDate'].value_counts().index[0])
# handle the year with ?, replace with the most frequent year of that century (19xx)
df.loc[df['publishedDate'].str.find("?") != -1, 'publishedDate'] = df.loc[df['publishedDate'].str[:2] == '19', 'publishedDate'].value_counts().index[0]
# remove the * sign in the publishedDate
df['publishedDate'] = df['publishedDate'].str.replace('*', '')
df['publishedDate'] = df['publishedDate'].astype(int)

In [5]:
df['categories'] = df['categories'].str.replace('[', '').str.replace(']', '').str.replace("'", '')

In [6]:
# get id, title, category, and publishDate for each book
df = df[['Id', 'Title', 'categories', 'publishedDate']]
df = df.drop_duplicates(subset=['Title'])
df = df.reset_index(drop=True)

In [7]:
df

,Id,Title,categories,publishedDate
0,0826414346,dr. seuss: american icon,Biography & Autobiography,2005
1,0963923080,rising sons and daughters: life among japan's ...,Social Science,1995
2,0854968350,muslim women's choices: religious belief and s...,Religion,1994
3,157067051X,voices from the farm: adventures in community ...,Biography & Autobiography,2012
4,006000486X,tess and the highlander,Juvenile Fiction,2002
...,...,...,...,...
26340,0316940089,sweep dreams,Juvenile Fiction,2005
26341,1560540990,killing mister watson,Fiction,2012
26342,0425200736,echoes (berkley sensation),Fiction,2012
26343,0786182431,very bad deaths: library edition,Social Science,2021
26344,B000NSLVCU,the idea of history,History,2018

In [8]:
df.to_csv('../dataset/book_info.csv', index=False)